.Search-Container{
    float: right;
}

.Search-Container Button{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
}

.Input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

