.Search-Container{
    float: right;
}

.Search-Container Button{
    float: right;
    margin-top: 2%;
    margin-bottom: 2%;
    background: #ddd;
    font-size: 20px;
    border: none;
}

.Input[type=text] {
    padding: 6px;
    margin-top: 2%;
    font-size: 17px;
    border: none;
}

.Search-Group{
    padding: 10px 24px; 
    float: left; 
}